.App {
  text-align: center;
  list-style: none
  
}
.list{
  list-style: none;
  margin-top: 200px;
}

.card{
  background-color: #FFFFD5;
  padding: 10px;
}
.Grid{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  list-style: none
}
.Login{
  margin-top: 200px;
}
.App-link {
  color: #61dafb;
}

